# .clang-format

# BasedOnStyle: The style options to inherit from, and can be one of the predefined styles or a path to a style configuration file.
# Here, we are using "Google" style as a starting point.
BasedOnStyle: Google

# IndentWidth: Number of spaces for each level of indentation.
IndentWidth: 4

# UseTab: If true, use tabs for indentation instead of spaces.
UseTab: Never

# TabWidth: Number of spaces that a tab character is equal to.
TabWidth: 4

# ColumnLimit: Maximum number of characters in a line.
ColumnLimit: 80

# AccessModifierOffset: Indent level for access modifiers (public, private, protected).
AccessModifierOffset: -4

# AllowShortFunctionsOnASingleLine: If true, short functions can be written on a single line.
AllowShortFunctionsOnASingleLine: All

# AlignConsecutiveAssignments: If true, align consecutive assignments.
AlignConsecutiveAssignments: true

# AlignConsecutiveDeclarations: If true, align consecutive declarations.
AlignConsecutiveDeclarations: true

# SpacesInParentheses: If true, add spaces inside parentheses.
SpacesInParentheses: Never

# SpacesInSquareBrackets: If true, add spaces inside square brackets.
SpacesInSquareBrackets: Never

# SpacesInAngles: If true, add spaces inside angle brackets of template arguments.
SpacesInAngles: Never

# SpaceBeforeAssignmentOperators: If true, add spaces before assignment operators.
SpaceBeforeAssignmentOperators: true